@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #006c5c;
  --secondary: #fdb600;
  --grey66: #666666;
  --lightOrange: #ffcf54;
  --dark38: #003832;
  --grey54: #545454;
  --lightGreen: #f2fff8;
  --blue12: #000120;
  --greyC9: #6f6c90;
  --greyE8: #767e85;
  --greyD9: #d9d9d9;
  --greyC4: #c4c4c4;
  --grey4C: #2b384c;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --primary: #006c5c;
    --secondary: #fdb600;
    --grey66: #666666;
    --lightOrange: #ffcf54;
    --dark38: #003832;
    --grey54: #545454;
    --lightGreen: #f2fff8;
    --blue12: #000120;
    --greyC9: #6f6c90;
    --greyE8: #767e85;
    --greyD9: #d9d9d9;
    --greyC4: #c4c4c4;
    --grey4C: #2b384c;
  }
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}
.backtext {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #d6d6d66b;
}
.footerbacktext {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #c4c4c40d;
}
.embla {
  margin: auto;
  --slide-height: 19rem;
  --slide-spacing: 1rem;
  --slide-size: 100%;
}
.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
  gap: var(--slide-spacing);
  touch-action: pan-y pinch-zoom;
  margin-left: calc(var(--slide-spacing) * -1);
}
.embla__slide {
  transform: translate3d(0, 0, 0);
  min-width: 0;
  padding-left: var(--slide-spacing);
}

.embla__controls {
  display: grid;
  grid-template-columns: auto 1fr;
  justify-content: space-between;
  gap: 1.2rem;
  margin-top: 1.8rem;
}
.embla__buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.6rem;
  align-items: center;
}
.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: #187164;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 2.8125rem;
  height: 2.8125rem;
  z-index: 1;
  border-radius: 50%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.embla__button:disabled {
  color: white;
  opacity: 0.5;
}
.embla__button__svg {
  width: 35%;
  height: 35%;
}
.embla__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  align-items: center;
  margin-top: 50px;
}
.embla__dot {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: #c4c4c4;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 9px;
  height: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected {
  background-color: #fdb600;
}
.secondaryText {
  color: var(--secondary);
  font-size: 1.25rem;
}
