.Background {
  background-image: url("../../../public/images/line_bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right;
}
.TestimonialCard {
  box-shadow: 0px 5px 14px 0px #080f340a;
}
.HeaderBg {
  background-image: url("../../../public/images/header_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.Animate3d {
  animation: moveInFront 2s ease-out;
}

@keyframes moveInFront {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.BlogCard {
  padding: 1rem;
  border-radius: 20px;
  transition: all 0.3s;
  cursor: default;
}
.BlogCard:hover {
  box-shadow: 0px 2.02px 4.04px 0px #0038321a;
  background-color: white;
  transform: scale(1.05) !important;
}
.Background_img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
 
}
